.menu {
  ul > li {
    padding: 10px 0 10px 10px;
    a {
      color: rgb(237, 237, 237);
      &:hover {
        text-decoration: none;
      }
    }
    &:hover {
      background: #b14909;
      color: white;
      text-decoration: none;
    }
    i {
      border: 1px solid white;
      margin-right: 5px;
      text-align: center;
      padding: 4px 0;
      width: 30px;
    }
  }
}
